<div class="task-form">
  <div class="task-title">
    Crear una nueva tarea
  </div>

  <form [formGroup]="taskForm" (ngSubmit)="submitTask()">

    <!-- Task Title -->
    <div class="input-group">
      <mat-label class="label">Nombre de la tarea</mat-label>
      <mat-form-field appearance="outline" class="short-field">
        <input aria-label="title" matInput id="title" formControlName="title" />
        <mat-error *ngIf="taskForm.get('title')?.invalid">El Título de la tarea es obligatorio</mat-error>
      </mat-form-field>
    </div>

    <!-- Deadline -->
    <div class="input-group">
      <mat-label class="label">Fecha límite</mat-label>
      <mat-form-field appearance="outline" class="short-field">
        <input aria-label="deadline" matInput [matDatepicker]="picker" formControlName="deadline" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="taskForm.get('deadline')?.invalid">La fecha límite es obligatoria</mat-error>
      </mat-form-field>
    </div>

    <div class="persons-group">
      <!-- Persons List -->
      <div formArrayName="persons">
        <div>
          <h3>Personas asociadas</h3>
        </div>
        <div *ngFor="let person of persons.controls; let i = index" [formGroupName]="i">
          <app-person-form [personIndex]="i"></app-person-form>
        </div>
      </div>
    </div>

    <!-- Add Person Button -->
    <div class="add-person">
      <button type="button" mat-raised-button color="primary" (click)="addPerson()">
        <mat-icon>person_add</mat-icon> Añadir Persona
      </button>
    </div>

    <!-- Submit Button -->
    <div class="submit-button">
      <button mat-raised-button color="accent" type="submit" [disabled]="taskForm.invalid" >Guardar Tarea</button>
    </div>
  </form>

</div>
